body {
    margin: auto;
    max-width: 70%;
    background-color: rgb(20, 20, 20);
}
nav {
    margin-top: 1em;
}
nav a {
    padding-right: 1em;
    font-size: 1.25em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(147, 166, 185);;
}
a {
    color: rgb(144, 164, 184);
}
nav a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2.25em;
    color:rgb(147, 166, 185);
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    text-align: left;
    color:rgb(147, 166, 185);
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: left;
    color:rgb(147, 166, 185);;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    text-align: left;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color:rgb(147, 166, 185);;
}
tr {
    max-width: 25%;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    text-align: left;
    color:rgb(147, 166, 185);;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 40%;
    object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.container {
    display: flex;
    flex-direction: row;

    
}
.child {
    width: 33%;
    
    padding: 0.5em;
}
footer {
    display: block;
}
footer p {
    text-align: right;
    font-size: 0.9em;
    padding: 1em;
}

@media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
  
    .child-left,
    .child-right {
      width: auto;
    }
  }